{
    "id_list": [],
    "users": {
        "root": [
            247548114,
            330059897
        ],
        "admins": [
            247548114,
            5151360606,
            330059897
        ],
        "granted_users": [
            247548114,
            330059897
        ],
        "granted_users_is": {
            "330059897": {
                "Name": "Александр",
                "Surname": "Савельев",
                "phone_number": "+79889985169"
            },
            "247548114": {
                "Name": "Владислав",
                "Surname": "Скибенко",
                "phone_number": "+79885666437"
            }
        }
    },
    "scheduled_message": {},
    "trade_points": {
    },
    "roles_dict": {
        "Чайный Мастер утро": "Чайный Мастер утро",
        "Чайный Админ": "Чайный Админ",
        "Чайный Мастер вечер": "Чайный Мастер вечер",
        "Чайный Мастер полного дня": "Чайный Мастер полного дня"
    },
    "goals_day": {
    },
    "сlearing": {
    },
    "new_trade_point": {
        "new_trade_point": {
            "Чайный Мастер утро": "Чайный Мастер утро",
            "Чайный Админ": "Чайный Админ",
            "Чайный Мастер вечер": "Чайный Мастер вечер",
            "Чайный Мастер полного дня": "Чайный Мастер полного дня"
        }
    }
}